.home{
    background: url('./assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.destination{
    background: url('./assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}